body {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
}
#box{
    /* border: 2px solid blue; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5%;
    margin: auto;
    width: 50%;
    border-color: FFA500;
    border: 1px solid #DAA520;
    padding: 10px;
    
}
#city {
  color: orange;
}
#temp{
    color: brown;
}
#weather_desc{
    color:
    #FF7F50;
}